body {
    margin: 0;
    font-family: Arial;
    background-color: #f6f4f4;
}

/* HEADER */
.header {
    background-color: #b2c0c5;
    color: rgb(99, 92, 92);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.menu span {
    margin-left: 30px;
}

/* MAIN */
.contenedor {
    display: flex;
    flex-wrap: wrap; /* permite que bajen las tarjetas */
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

/* TARJETAS */
.tarjeta {
    background-color: rgb(154, 207, 215);
    width: 200px;
    padding: 5px;
    border-radius: 100px;
    text-align: center;
}

/* FOOTER DE TARJETA */
.footer-tarjeta {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(6, 0, 0);
}

/* FOOTER PRINCIPAL */
.footer {
    background-color: #04192f;
    color: white;
    padding: 30px;
}